$primaryColor_Orange: hsl(26, 100%, 55%);
$primaryColor_Pale_Orange: hsl(25, 100%, 94%);

$neutralColor_900: hsl(220, 13%, 13%);
$neutralColor_800: hsl(219, 9%, 45%);
$neutralColor_700: hsl(220, 14%, 75%);
$neutralColor_White: hsl(0, 0%, 100%);
$neutralColor_Black: hsla(0, 0%, 0%, 0.75); //with 75% opacity
